Repository rpdelaney/downforeveryone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, version, isort, black, flake8, mypy

.pre-commit-config.yaml:

---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-docstring-first
      - id: check-toml
      - id: check-yaml

  - repo: local
    hooks:
      - id: pytest
        name: run all tests
        stages: [push]
        language: system
        entry: poetry run pytest --full-trace
        pass_filenames: false

      - id: pyproject.toml
        name: validate pyproject.toml
        language: system
        entry: poetry check
        files: 'pyproject\.toml'
        pass_filenames: false

      - id: version
        name: verify version is set correctly
        stages: [commit]
        language: system
        entry: pytest --quiet --no-header --no-summary --no-cov -k version
        files: 'pyproject\.toml|downforeveryone/__init__.py'
        pass_filenames: false

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: poetry run flake8
        types: [python]

      - id: shellcheck
        name: shellcheck
        stages: [commit]
        language: system
        entry: shellcheck
        types: [shell]

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]

  - repo: https://github.com/PyCQA/doc8
    rev: 0.9.0a0
    hooks:
      - id: doc8

Update python Docker tag to v3.9.7
  .circleci/config.yml
Due: none

separateMinorPatch: false
  renovate.json
Due: none

Lock file maintenance
  poetry.lock
Due: none

Add pygrep pre-commit hooks
  .pre-commit-config.yaml
  tests/test_isup/test_query_url.py
Due: isort, black, flake8, mypy

Sort remote repos over local in pre-commit
  .pre-commit-config.yaml
Due: none

Update dependency responses to ^0.14.0
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Bump package version to 1.0.1
  downforeveryone/__init__.py
  pyproject.toml
Due: pyproject.toml, version, isort, black, flake8, mypy

Update dependency pytest-cov to v3
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Update python Docker tag to v3.10.0
  .circleci/config.yml
Due: none

Update dependency flake8 to v4
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Make some style changes from wemade-python-style
  downforeveryone/cli.py
  downforeveryone/isup.py
  tests/test_isup/test_query_url.py
Due: isort, black, flake8, mypy

Always verify version with poetry
  .pre-commit-config.yaml
Due: none

Don't yet support python 3.10
  .circleci/config.yml
  pyproject.toml
Due: pyproject.toml, version

Don't auto-update python minor version in CI
  renovate.json
Due: none

Try ignoring circleci dir
  renovate.json
Due: none

Accept py3.9.x patch versions
  pyproject.toml
Due: pyproject.toml, version

Add types for toml and requests
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Update dependencies
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version
