Repository rpdelaney/downforeveryone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, isort, black, flake8, mypy

pyproject.toml:
  name: validate pyproject.toml
  language: system
  entry: poetry check
  pass_filenames: false

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy

Upgrade black to 20.8b0
  downforeveryone/isup.py
  poetry.lock
  pyproject.toml
  tests/test_isup/test_handle_response.py
Due: pyproject.toml, isort, black, flake8, mypy

Add dependabot badge
  README.rst
Due: none

Reorder badges
  README.rst
Due: none

Bump poetry and pre-commit versions in CI
  .circleci/config.yml
Due: none

Move user agent list to separate JSON file
  downforeveryone/useragents.json
  downforeveryone/useragents.py
Due: isort, black, flake8, mypy

Use fstrings for maximum style points
  downforeveryone/isup.py
Due: isort, black, flake8, mypy

Add explicit stages callout to hook
  .pre-commit-config.yaml
Due: none

Add pytest pre-push hook
  .pre-commit-config.yaml
Due: none

Add CI tests for basic cli operations
  .circleci/config.yml
Due: none

Don't pass filenames to pytest in pre-commit
  .pre-commit-config.yaml
Due: none

Use default_stages: [commit]
  .pre-commit-config.yaml
Due: none

Over-ride stages on some hooks that have their own setting
  .pre-commit-config.yaml
Due: none

Fix stage, should have been commit
  .pre-commit-config.yaml
Due: none

Add stupid, possibly dangerous `bump` script
  bin/bump
Due: none

Update author email
  pyproject.toml
Due: pyproject.toml

Fix includes in flake8 config
  setup.cfg
Due: none

Check exit code without raising CalledProcessError
  bin/bump
Due: none

Ignore E231
  setup.cfg
Due: none

Add comment about 'stages' pre-commit setting
  .pre-commit-config.yaml
Due: none

Move message printing into main()
  downforeveryone/isup.py
  tests/test_isup/conftest.py
  tests/test_isup/test_handle_response.py
  tests/test_isup/test_is_it_up.py
  tests/test_isup/test_main.py
Due: isort, black, flake8, mypy

Prepend _ before private function names
  downforeveryone/isup.py
  tests/test_isup/conftest.py
  tests/test_isup/test_handle_response.py
  tests/test_isup/test_is_it_up.py
  tests/test_isup/test_query_url.py
  tests/test_isup/test_url_join.py
Due: isort, black, flake8, mypy

Prepend all mock_ signifiers
  tests/test_cli/test_cli.py
  tests/test_isup/conftest.py
  tests/test_isup/test_is_it_up.py
  tests/test_isup/test_main.py
  tests/test_isup/test_query_url.py
Due: isort, black, flake8, mypy

"Bump version from 0.4.2 to 1.0.0"
  downforeveryone/__init__.py
  pyproject.toml
Due: pyproject.toml, isort, black, flake8, mypy

Remove broken dependabot badge
  README.rst
Due: none

Update docstrings for new return values
  downforeveryone/isup.py
Due: isort, black, flake8, mypy

Disable pip version check in CI
  .circleci/config.yml
Due: none

Format yaml per linter
  .github/dependabot.yml
Due: none

Update .envrc for venv detection
  .envrc
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

poetry lock
  poetry.lock
Due: none

Follow ABC testing format
  tests/test_isup/test_main.py
Due: isort, black, flake8, mypy

Update cc-test-reporter hash
  .circleci/cc-test-reporter.sha256sum
Due: none

gitignore cc-test-reporter
  .gitignore
Due: none

maintained = yes
  README.rst
Due: none

rm redundant version setting
  .circleci/config.yml
Due: none

Don't set poetry and pre-commit versions in CI
  .circleci/config.yml
Due: none

Accept any python version from 3.7 to 4
  pyproject.toml
Due: pyproject.toml

First stab at honeycomb build reporting
  .circleci/config.yml
Due: none

Enforce circleci config validation in pre-commit
  .pre-commit-config.yaml
Due: none

Path conditions:
  pyproject.toml: any of: pyproject\.toml
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
