Repository rpdelaney/downforeveryone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, version, isort, black, flake8, mypy

pyproject.toml:
  name: validate pyproject.toml
  language: system
  entry: poetry check
  pass_filenames: false

version:
  name: verify version is set correctly
  stages:
  - commit
  language: system
  entry: pytest --quiet --no-header --no-summary --no-cov -k version
  pass_filenames: false

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy

Lock file maintenance
  poetry.lock
Due: none

Update dependency mypy to ^0.941
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Update dependency responses to ^0.20.0
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Update dependency mypy to ^0.942
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Update dependency flake8-simplify to ^0.19.0
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Update dependency black to v22.3.0
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

poetry update
  poetry.lock
Due: none

This is still maintained
  README.rst
Due: none

Bump version to v1.0.2
  pyproject.toml
Due: pyproject.toml, version

Update dependency mypy to ^0.950
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Move constants to a constants module
  downforeveryone/constants.py
  downforeveryone/isup.py
Due: isort, black, flake8, mypy

Ignore arg-type on headers
  downforeveryone/isup.py
Due: isort, black, flake8, mypy

Fix tests for API_URL constant
  tests/test_isup/test_query_url.py
Due: isort, black, flake8, mypy

Update dependencies
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Update dependency mypy to ^0.961
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Remove unused type: ignore comment
  downforeveryone/isup.py
Due: isort, black, flake8, mypy

Fix expected json parse error
  tests/test_isup/test_is_it_up.py
Due: isort, black, flake8, mypy

Move constants to separate module
  downforeveryone/constants.py
  downforeveryone/isup.py
  tests/test_isup/test_query_url.py
Due: isort, black, flake8, mypy

Use a simpler URL formatting method
  downforeveryone/constants.py
  downforeveryone/isup.py
  tests/test_isup/conftest.py
  tests/test_isup/test_is_it_up.py
  tests/test_isup/test_query_url.py
  tests/test_isup/test_url_join.py
Due: isort, black, flake8, mypy

Remove flake8-eradicate
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Upgrade flake8 to 5
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Fix API endpoint URL
  downforeveryone/constants.py
Due: isort, black, flake8, mypy

Bump version to 1.0.3
  pyproject.toml
Due: pyproject.toml, version

Path conditions:
  pyproject.toml: any of: pyproject\.toml
  version: any of: pyproject\.toml|downforeveryone/__init__.py
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
