Repository rpdelaney/downforeveryone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, version, isort, black, flake8, mypy

pyproject.toml:
  name: validate pyproject.toml
  language: system
  entry: poetry check
  pass_filenames: false

version:
  name: verify version is set correctly
  stages:
  - commit
  language: system
  entry: pytest --quiet --no-header --no-summary --no-cov -k version
  pass_filenames: false

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy

Also install git in test job
  .github/workflows/main.yml
Due: none

Remove coverage reporting
  .github/workflows/main.yml
Due: none

Remove coverage badge
  README.rst
Due: none

Revert "Also install git in test job"
  .github/workflows/main.yml
Due: none

poetry update
  poetry.lock
Due: none

Fix broken test method
  tests/test_cli/test_version.py
Due: isort, black, flake8, mypy

Revert "poetry update"
  poetry.lock
Due: none

Remove codeclimate badge
  README.rst
Due: none

Add renovate schema
  renovate.json
Due: none

Put github actions updates in their own group
  renovate.json
Due: none

Add check-jsonschema hooks
  .pre-commit-config.yaml
Due: none

Use semver.parse rather than semver.is_valid
  tests/test_cli/test_version.py
Due: isort, black, flake8, mypy

Add some docstrings for tests
  tests/test_cli/test_version.py
Due: isort, black, flake8, mypy

Add link to is-up-cli
  README.rst
Due: none

Remove container: setting
  .github/workflows/main.yml
Due: none

Use shellcheck-py in pre-commit
  .github/workflows/main.yml
  .pre-commit-config.yaml
Due: none

Yes create venvs in poetry
  .github/workflows/main.yml
Due: none

Remove direnv and curl from workflow
  .github/workflows/main.yml
Due: none

Run functional cli elements in the poetry venv
  .github/workflows/main.yml
Due: none

Use hashed versions for all github actions
  .github/workflows/main.yml
Due: none

Link to GHA badge
  README.rst
Due: none

Add release workflow
  .github/workflows/main.yml
Due: none

Move release to own job
  .github/workflows/main.yml
Due: none

Also run on version tags
  .github/workflows/main.yml
Due: none

Run a release only if the tag starts with a 'v'
  .github/workflows/main.yml
Due: none

Add specific handling for network timeouts
  downforeveryone/isup.py
  tests/test_isup/test_is_it_up.py
Due: isort, black, flake8, mypy

If no string representation, print generic error message
  downforeveryone/isup.py
  tests/test_isup/test_is_it_up.py
Due: isort, black, flake8, mypy

Still maintained in 2024
  README.rst
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

fmt
  pyproject.toml
Due: pyproject.toml, version

rm dupe hook
  .pre-commit-config.yaml
Due: none

Remove pytest and doc8 from pre-commit
  .pre-commit-config.yaml
Due: none

rm black, flake8, isort
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  setup.cfg
Due: pyproject.toml, version

poetry add --group dev ruff
  poetry.lock
  pyproject.toml
  ruff.toml
Due: pyproject.toml, version

Run ruff in pre-commit and fix errors
  .pre-commit-config.yaml
  downforeveryone/__init__.py
  downforeveryone/cli.py
  downforeveryone/constants.py
  downforeveryone/isup.py
  downforeveryone/useragents.py
  tests/test_cli/test_cli.py
  tests/test_isup/conftest.py
  tests/test_isup/test_is_it_up.py
Due: version, isort, black, flake8, mypy

Increase max-complexity to 3
  ruff.toml
Due: none

rm unused imports
  downforeveryone/isup.py
Due: isort, black, flake8, mypy

Simplify unneeded elif after return
  downforeveryone/isup.py
Due: isort, black, flake8, mypy

Specify timeout when sending a GET
  downforeveryone/isup.py
Due: isort, black, flake8, mypy

Path conditions:
  pyproject.toml: any of: pyproject\.toml
  version: any of: pyproject\.toml|downforeveryone/__init__.py
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
