Repository rpdelaney/downforeveryone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, version, isort, black, flake8, mypy

pyproject.toml:
  name: validate pyproject.toml
  language: system
  entry: poetry check
  pass_filenames: false

version:
  name: verify version is set correctly
  language: system
  entry: poetry run pytest --quiet --no-header --no-summary --no-cov -k version
  pass_filenames: false

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

Ignore BLE001
  downforeveryone/isup.py
Due: isort, black, flake8, mypy

Add ExitCodes collection
  downforeveryone/constants.py
Due: isort, black, flake8, mypy

Kill magic numbers with ExitCodes!
  downforeveryone/isup.py
Due: isort, black, flake8, mypy

Use pathlib better in useragents
  downforeveryone/useragents.py
Due: isort, black, flake8, mypy

Mark name as private
  downforeveryone/useragents.py
Due: isort, black, flake8, mypy

Use pathlib better in test_version
  tests/test_cli/test_version.py
Due: isort, black, flake8, mypy

Just import pytest as pytest
  tests/test_cli/test_cli.py
Due: isort, black, flake8, mypy

Sort long arg list
  tests/test_isup/test_main.py
Due: isort, black, flake8, mypy

Ignore PLR in tests
  ruff.toml
  tests/test_cli/test_cli.py
Due: isort, black, flake8, mypy

Really stop it with the weird pytest name stuff
  tests/test_isup/conftest.py
  tests/test_isup/test_handle_response.py
  tests/test_isup/test_main.py
  tests/test_useragents/test_useragents.py
Due: isort, black, flake8, mypy

Ignore SLF in tests
  ruff.toml
Due: none

Bye flake8, hello ruff
  README.rst
Due: none

Bump version to 1.0.5
  pyproject.toml
Due: pyproject.toml, version

Bump version to 1.0.6
  pyproject.toml
Due: pyproject.toml, version

noqa C901
  downforeveryone/isup.py
Due: isort, black, flake8, mypy

poetry update
  poetry.lock
Due: none

Better hook names
  .pre-commit-config.yaml
Due: none

Format before linting
  .pre-commit-config.yaml
Due: none

Drop python 3.7
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Require poetry >=1.8.0
  pyproject.toml
Due: pyproject.toml, version

Whitespace
  .github/workflows/main.yml
Due: none

Update python setup to 3.12.2
  .github/workflows/main.yml
Due: none

Don't bury smoke test results
  .github/workflows/main.yml
Due: none

Don't auto-merge github-actions updates
  renovate.json
Due: none

ruff check --fix
  tests/test_cli/test_cli.py
  tests/test_isup/conftest.py
Due: isort, black, flake8, mypy

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Disable shellcheck on envrc
  .envrc
Due: none

ruff check --fix
  downforeveryone/useragents.py
Due: isort, black, flake8, mypy

Still maintained in 2025
  README.rst
Due: none

Bump version to 1.0.7
  pyproject.toml
Due: pyproject.toml, version

Expect a different TWINE_TEST_PASSWORD when shipping releases
  bin/ship
Due: none

Overhaul renovatebot
  renovate.json
Due: none

Migrate off python-jsonschema
  .pre-commit-config.yaml
Due: none

Remove release step
  .github/workflows/main.yml
Due: none

Clear zizmor errors
  .github/workflows/main.yml
Due: none

Rename renovate.json -> renovate.json5
  renovate.json5
Due: none

Try to stop updating python version in github workflows
  renovate.json5
Due: none

Revert "Try to stop updating python version in github workflows"
  renovate.json5
Due: none

Path conditions:
  pyproject.toml: any of: pyproject\.toml
  version: any of: pyproject\.toml|downforeveryone/__init__.py
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
