Repository rpdelaney/downforeveryone: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, version, isort, black, flake8, mypy

pyproject.toml:
  name: validate pyproject.toml
  language: system
  entry: poetry check
  pass_filenames: false

version:
  name: verify version is set correctly
  stages:
  - commit
  language: system
  entry: pytest --quiet --no-header --no-summary --no-cov -k version
  pass_filenames: false

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy

Lock file maintenance
  poetry.lock
Due: none

Use pytest --strict-markers option
  .envrc
Due: none

Update dependency responses to ^0.16.0
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Revert "Use pytest --strict-markers option"
  .envrc
Due: none

Set paranoid pytest options
  pyproject.toml
Due: pyproject.toml, version

Add flake8-builtins
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Add flake8-comprehensions
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Add flake8-fixme
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Add cohesion
  pyproject.toml
Due: pyproject.toml, version

Add flake8-pytest-style
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Add flake8-eradicate
  pyproject.toml
Due: pyproject.toml, version

Add flake8-simplify
  pyproject.toml
Due: pyproject.toml, version

poetry lock
  poetry.lock
Due: none

Fix flake8-pytest-style category
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Add flake8-annotations-complexity
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Use saner method for finding HTTP status description
  downforeveryone/isup.py
  tests/test_isup/test_is_it_up.py
Due: isort, black, flake8, mypy

Set simpler, one-line error text
  downforeveryone/isup.py
  tests/test_isup/test_is_it_up.py
Due: isort, black, flake8, mypy

Rearrange isort options
  pyproject.toml
Due: pyproject.toml, version

Sort pyproject.toml
  pyproject.toml
Due: pyproject.toml, version

Add logic for version inference from pyproject
  downforeveryone/__init__.py
Due: version, isort, black, flake8, mypy

get rid of awful bump script
  bin/bump
Due: none

include_trailing_comma in isort
  pyproject.toml
Due: pyproject.toml, version

Accept python versions <4.0
  pyproject.toml
Due: pyproject.toml, version

poetry update
  poetry.lock
Due: none

Omit __init__.py from coverage reporting
  .coveragerc
Due: none

Update dependency mypy to ^0.930
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Update dependency mypy to ^0.931
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Path conditions:
  pyproject.toml: any of: pyproject\.toml
  version: any of: pyproject\.toml|downforeveryone/__init__.py
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
